@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #1a1a1a;
  --background-dark: #0d0d0d;
  --primary: #4ea8de;
  --primary-dark: #1e6f9f;
  --secondary: #8284fa;
  --custom-gray: #333333;
  --light-gray: #808080;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Inter", sans-serif;
}
